header{
    margin: 0 auto;
    text-align: center;
}

.darkmode{
    background-color: rgb(43, 42, 42);
    color: #ffffff;
}


.helicoptor{
    transform: rotate(36000deg);
    transition: 10s;
}

nav{
    width: 25%;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-around;
}

img{
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width: 1150px){
    .flex{
        flex-direction:  column;
    }; 
}